@require 'constants.styl'
@require 'fonts.styl'
@require 'utils.styl'


border-color = transparent
border-color-hover = transparent
border-color-disabled = colorBg3
text-color = colorText1
// text-color-hover-1 = colorText1
text-color-hover-1 = colorBg
text-color-disabled = colorText4
bg-color = colorBg3
// bg-color-hover = colorPalette2
bg-color-hover = colorPalette3
bg-color-disabled = colorBg3

text-color-hover-2 = colorText1


button()
    color text-color
    font-large()
    font-normal()
    padding 10px
    border-radius borderRadiusS
    border-color transparent
    text-shadow none
    transition all 0.2s ease
    cursor pointer
    box-sizing border-box
    background bg-color
    centered-margin()
    centered-flex-container()
    &:hover
        color text-color-hover-1
        > *
            color text-color-hover-1
        background bg-color-hover
        border-color border-color-hover
    &[disabled]:not([disabled=false])
        pointer-events none
        color text-color-disabled
        background bg-color-disabled
        box-shadow none

button-no-fill()
    button()
    padding 10px 20px
    min-height 40px
    background transparent
    border bg-color solid 2px
    color colorText1
    &:hover
        background bg-color
        color colorTextDark1
        border-color bg-color
    &[disabled]:not([disabled=false])
        color colorText3
        background mix(bg-color, transparent, 40%)

button-danger()
    button()
    background mix(colorError, transparent)
    border-color colorError
    &:hover
        border-color mix(colorError, white)
        color colorText1
button-success()
    button()
    background mix(colorSuccess, transparent)
    border-color colorSuccess
    color colorText3
    &:hover
        border-color mix(colorSuccess, white)
        color colorText

button-submit()
    button()
