// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorPalette1, white).

colorPalette1 = #006EE3
colorPalette2 = #8E2CFF
colorPalette3 = #F9E59A
colorPalette4 = #FE5960

colorBg1 = #1A1A1A
colorBg2 = #303030
colorBg3 = #484848
colorBg4 = #767675
colorBg5 = #A2A2A2
colorBg6 = #E7E7E7
colorBg = colorBg1
colorBorder = colorBg5

colorTextColored = #F9E59A

colorText1 = #FFFFFF
colorText2 = mix(colorText1, black, 90%)
colorText3 = mix(colorText1, black, 80%)
colorText4 = mix(colorText1, black, 65%)
colorText5 = mix(colorText1, black, 50%)

colorTextDark1 = #000000
colorTextDark2 = mix(colorTextDark1, white, 90%)
colorTextDark3 = mix(colorTextDark1, white, 80%)
colorTextDark4 = mix(colorTextDark1, white, 65%)
colorTextDark5 = mix(colorTextDark1, white, 50%)


colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

borderRadiusMax = 9999999px
borderRadiusXL = 25px
borderRadiusL = 20px
borderRadiusM = 15px
borderRadiusS = 10px
borderRadiusXS = 5px

ease-out-fast = cubic-bezier(.04,.74,.15,1.02)
ease-out-slow = cubic-bezier(0.02, 0.52, 0.2, 1)

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')

colorMiss1 = #AE75B0
colorMiss2 = #39126a
